In [1]:
import pandas as pd
rv = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

In [6]:
rv.groupby('points').points.count()

points
80     397
81     692
      ...
99      33
100     19
Name: points, Length: 21, dtype: int64

In [7]:
rv.groupby('points').price.min()

points
80      5.0
81      5.0
       ...
99     44.0
100    80.0
Name: price, Length: 21, dtype: float64

Here's one way of selecting the name of the first wine reviewed from each winery in the dataset

In [10]:
rv.groupby('winery').apply(lambda d : d.title.iloc[0])

winery
1+1=3                          1+1=3 NV Rosé Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                         Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [11]:
#reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.argmax()])
rv.groupby(['country','province']).apply(lambda df : df.loc[df.points.argmax()])

C:\Users\aditya\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:2: FutureWarning: 'argmax' is deprecated. Use 'idxmax' instead. The behavior of 'argmax' will be corrected to return the positional maximum in the future. Use 'series.values.argmax' to get the position of the maximum now.

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
...                               ...
Uruguay   San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
...                                                                       ...
Uruguay   San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                          designation  points  price  \
country   province
Argentina Mendoza Province           Nicasia Vineyard      97  120.0
          Other                               Reserva      95   90.0
...                                               ...     ...    ...
Uruguay   San Jose           El Preciado Gran Reserva      87   50.0
          Uruguay           Blend 002 Limited Edition      91   22.0

                                    province region_1 region_2  \
country   province
Argentina Mendoza Province  Mendoza Province  Mendoza      NaN
          Other                        Other    Salta      NaN
...                                      ...      ...      ...
Uruguay   San Jose                  San Jose      NaN      NaN
          Uruguay                    Uruguay      NaN      NaN

                                  taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province  Michael Schachner           @wineschach
          Other             Michael Schachner           @wineschach
...                                       ...                   ...
Uruguay   San Jose          Michael Schachner           @wineschach
          Uruguay           Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
...                                                                       ...
Uruguay   San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
...                                           ...                   ...
Uruguay   San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[425 rows x 13 columns]

Another groupby method worth mentioning is agg, which lets you run a bunch of different functions on your DataFrame simultaneously. For example, we can generate a simple statistical summary of the dataset as follows:

In [12]:
rv.groupby(['country']).price.agg([len,max,min])

              len    max   min
country
Argentina  3800.0  230.0   4.0
Armenia       2.0   15.0  14.0
...           ...    ...   ...
Ukraine      14.0   13.0   6.0
Uruguay     109.0  130.0  10.0

[43 rows x 3 columns]

**Multi-indexes**

In [13]:
mi = _.index
type(mi)

pandas.core.indexes.base.Index

In [14]:
rv.groupby(['country','province']).price.max()

country    province
Argentina  Mendoza Province    230.0
           Other               150.0
                               ...
Uruguay    San Jose             50.0
           Uruguay              50.0
Name: price, Length: 425, dtype: float64

In [15]:
rv.groupby(['country','province']).price.agg([max])

                              max
country   province
Argentina Mendoza Province  230.0
          Other             150.0
...                           ...
Uruguay   San Jose           50.0
          Uruguay            50.0

[425 rows x 1 columns]

In [16]:
rv.groupby(['country','province']).price.max().reset_index()

       country          province  price
0    Argentina  Mendoza Province  230.0
1    Argentina             Other  150.0
..         ...               ...    ...
423    Uruguay          San Jose   50.0
424    Uruguay           Uruguay   50.0

[425 rows x 3 columns]

In [22]:
temp = rv.groupby(['country','province']).price.agg([max]).reset_index()

In [23]:
temp

       country          province    max
0    Argentina  Mendoza Province  230.0
1    Argentina             Other  150.0
..         ...               ...    ...
423    Uruguay          San Jose   50.0
424    Uruguay           Uruguay   50.0

[425 rows x 3 columns]

**Sorting**

In [24]:
temp.sort_values(by='max')

          country         province  max
236       Moldova            Cahul  8.0
312       Romania      Viile Timis  8.0
..            ...              ...  ...
335  South Africa    Ceres Plateau  NaN
357  South Africa  Piekenierskloof  NaN

[425 rows x 3 columns]

In [25]:
temp.sort_values(by='max',ascending=False)

          country         province     max
118        France         Bordeaux  3300.0
119        France         Burgundy  2500.0
..            ...              ...     ...
335  South Africa    Ceres Plateau     NaN
357  South Africa  Piekenierskloof     NaN

[425 rows x 3 columns]

In [26]:
temp.sort_index()

       country          province    max
0    Argentina  Mendoza Province  230.0
1    Argentina             Other  150.0
..         ...               ...    ...
423    Uruguay          San Jose   50.0
424    Uruguay           Uruguay   50.0

[425 rows x 3 columns]

In [27]:
temp.sort_values(by=['country','max'])

       country          province    max
1    Argentina             Other  150.0
0    Argentina  Mendoza Province  230.0
..         ...               ...    ...
419    Uruguay         Canelones   65.0
420    Uruguay           Juanico  130.0

[425 rows x 3 columns]

**Exercise 1**: Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [29]:
rv.groupby('taster_twitter_handle').description.agg([len])

                        len
taster_twitter_handle
@AnneInVino            3685
@JoeCz                 5147
...                     ...
@winewchristina           6
@worldwineguys         1005

[15 rows x 1 columns]

In [31]:
rv.groupby('taster_twitter_handle').taster_twitter_handle.count()

taster_twitter_handle
@AnneInVino        3685
@JoeCz             5147
                   ...
@winewchristina       6
@worldwineguys     1005
Name: taster_twitter_handle, Length: 15, dtype: int64

**Exercise 2**: What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the valeus by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [36]:
rv.groupby('price').points.max().sort_index()

price
4.0       86
5.0       87
          ..
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

**Exercise 3**: What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [38]:
rv.groupby('variety').price.agg([max,min])

              max   min
variety
Abouriou     75.0  15.0
Agiorgitiko  66.0  10.0
...           ...   ...
Çalkarası    19.0  19.0
Žilavka      15.0  15.0

[707 rows x 2 columns]

**Exercise 6**: What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

Hint: first run `reviews['n'] = 0`. Then `groupby` the dataset and run something on the column `n`. You won't need `reset_index`.

In [40]:
rv['n']=0
rv.groupby(['country','variety']).n.count().sort_values(ascending = False)

country    variety
US         Pinot Noir            9885
           Cabernet Sauvignon    7315
                                 ...
Italy      Moscato di Noto          1
Argentina  Barbera                  1
Name: n, Length: 1612, dtype: int64

In [ ]:
end